sudo: false

language: node_js
node_js:
  - 9

install:
  - npm install

script:
  - npm test

branches:
  only:
    - master
  
  skip_cleanup: true
deploy:
  provider: heroku
  api_key: "20a351e7-b49a-405e-9ec0-e5258c4cb10c"
  app: "pure-wildwood-16458"
  
