body {
    width: 80%;
    margin-left: auto;
    margin-right: auto
  }

  .social i {
    margin:5px;
    float:right;
  }
  .social p {
    float:right;
    margin:1px 10px;
    line-height:2.72;
  }
  .social:after {
    content: "";
    display: table;
    clear: both;
    }
  
  .skype {
    color:#00aff0;
  }
  .facebook{
    color:#3b5998;
  }
  .gmail{
    color:red;
  }