body {
    width: 90%;
    margin-left: auto;
    margin-right: auto
  }

.ui.icon.button.delete {
  /* padding: 5px;
  height: 38px;
  width: 38px; */
  margin-top: 22px;
  margin-right: 7px;
}
.ui.icon.button.plus-track {
  margin-right: 12px;
}
.ui.icon.button.download {
  margin-left: 5px;
}