.table>tbody>tr>td {
    vertical-align: middle;
}
body{
  font-family: 'Josefin Sans', sans-serif;
}
.ui.tiny.image,
.ui.tiny.images
.image, 
.ui.tiny.images img, 
.ui.tiny.images svg {
  width: 60px;
  height: auto;
}
#page-numbers {
    list-style: none;
    display: flex;
  }
  
  #page-numbers > li {
    margin-right: 0.3em;
    color: blue;
    user-select: none;
    cursor: pointer;
  }
  .showAll > .ui.basic.button{
    color:black !important;
    font-weight:600;
    border:1px solid black;
    font-style: oblique;
    
  }
  .ui.celled.table tr td, .ui.celled.table tr th{
    font-weight:600;
    font-family: 'Do Hyeon', sans-serif; 
  }
  .ui.sortable.table thead th.sorted {
    background: white;
}
.ui.table thead th{
  background: white;
}