* {
    box-sizing: border-box;
}
.yellow{
    /* background-color:yellow; */
}
.header-class {
    background-color: #C0C0C0;
    font-size: 1.7rem;
    text-align: center;
}
.custom-row-class{
    /* background-color: lightblue; */
    text-align: center;
    /* vertical-align:-webkit-baseline-middle; */
}
th{
    text-align: center;
}
/* if i wanna text-align by default (left)should remove line above and line below */
.table>tbody>tr>td {
    vertical-align: middle;
}
.album{
    border:1px solid blue;
    width:50px;
}
.social i {
    margin:5px;
    float:right;
}
.social p {
    float:right;
    margin:1px 10px;
    line-height:2.72;
}
.social:after {
    content: "";
    display: table;
    clear: both;
    }

.skype {
    color:#00aff0;
}
.facebook{
    color:#3b5998;
}
.gmail{
    color:red;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: gray;
    border-color:gray;
    text-shadow: 0 0 10px;
}
.pagination>li>a, .pagination>li>span{
    color:black;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }
@media only screen and (max-width: 600px) {
    .custom-row-class{
       font-size: 1rem;;
    }
    .header-class{
        font-size: 1.3rem;
    }
    .album{
        width:40px;
        /* max-width:100% */
    }
    .yellow{
        /* display: none; */
    }
}